---
layout: default
---
<article class="post h-entry">
  <!-- Start -->
  {% if page.header %}
  <img src="{{ site.url }}{{site.imageurl}}{{ page.header}}">
  {% endif  %}
  {% case page.title %}
  {% when '' %}
    {% if page.mf-like-of %}
<!-- like -->
    <p>⭐ <a href="{{ page.mf-like-of }}" class="read-more u-syndication p-name u-uid">{{ page.mf-like-of }}</a></p>
    {% elsif page.mf-in-reply-to %}
      <h2>{{page.excerpt | strip_html |truncatewords: 4}}</h2>
      <span class="in-reply-to">Mijn antwoord op: <a href="{{ page.mf-in-reply-to }}" class="u-syndication">{{ page.mf-in-reply-to }}</a></span>
    {% elsif page.mf-bookmark-of %}
      <h2><a href="{{ page.mf-bookmark-of }}" class="p-name u-uid permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i> Ik heb iets gebookmarked</a></h2>
    {% else %}
      <!-- empty title -->

    <h2 class="p-name u-uid">{{page.excerpt | strip_html |truncatewords: 4}}</h2>
    {% endif %}
  {% else %}
    {% if page.link %}
    <h2><a href="{{ page.mf-bookmark-of }}" class="p-name u-uid permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h2>
    {% else %}
    <!-- pretty regular blogpost -->
    <h2>{{ page.title }}</h2>
    {% endif %}
{% endcase %}

{% include post/meta.html %}
  <div class="entry e-content">
    {% if page.link %}
      {{ content }}
      <i class="fa fa-link"></i>: <a href="{{ page.link }}" class="permalink" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
    {% elsif page.mf-in-reply-to %}
      {{ content }}
      <p><a href="{{ page.mf-in-reply-to }}" class="read-more u-in-reply-to">Originele link <i class="fas fa-external-link-alt"></i></a></p>
    {% elsif page.mf-bookmark-of %}
      {% if page.mf-summary %}
        {{ page.mf-summary }}
      {% else %}
        {{ content }}
      {% endif %}
      <p><a href="{{ page.mf-bookmark-of }}" class="read-more u-bookmark-of">Originele link <i class="fas fa-external-link-alt"></i></a></p>
    {% else %}
      {{ content }}
{% endif %}
  </div>
  <div class="h-card" style="display: none;">
    <span class=" dt-published">{{page.date}}</span>
    <img class="u-photo" src="{{site.url}}{{site.avatar}}" alt="Avatar Frank Meeuwsen" />
    <a class="p-author" rel="author" href="{{site.url}}">{{site.author}}</a>
    <!-- <a class="u-url u-uid" rel="me" href="{{site.url}}{{page.url}}">{{site.name}}</a> -->
    <a class="u-email" rel="me" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="p-note">{{site.words}}</p>
  </div>  
</article>

  <div id="page-navigation">
      <div class="previous">
  {% if page.previous.url %}
  <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post:
  {{page.previous.title}}"><i class="fas fa-angle-double-left"></i> Vorige</a>
  {% endif %}
      </div>

      <div class="next">
  {% if page.next.url %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post:
  {{page.next.title}}">Volgende <i class="fas fa-angle-double-right"></i></a>
  {% endif %}
      </div>
  </div>

{% include webmentions.html %}